
.apply-for{
  font-size: xx-large;
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

/* --END-- App Initial CSS - Initial.js component */

/* CSS - Navbar.js component */
.navbar{
  background-color: #F1F1F1;
  display: flex;
  align-items: baseline;
}

.navbar > ul {
  list-style: none;
  flex: 1;
  display: flex;
}

.navbar > ul > li {
  padding: 10px 20px;
}

.navbar > ul > li > a {
  text-decoration: none;
  color: black;
} 

.navbar-img{
  align-self: center;
}

.navbar-img > a > img{
  width: 200px;
  height: 30px;
  padding-right: 20px;
}

/* --END-- CSS - Navbar.js component */

/* CSS - Toolbar.js component */
.toolbar{
  background-color: #F1F1F1;
  padding: 20px 100px;
  display: flex;
  align-items:baseline;
  justify-content: space-between;
}

.toolbar-button{
  background-color: white;
  border-radius: 15px;
  width: 140px;
  height: 140px;
}

.toolbar-button > a {
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --END-- CSS - Toolbar.js component */

/* CSS - Tabs.js component */
.tabs > ul{
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
  padding: 20px 250px;
  list-style: none;

}

.tabs > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs-underline{
  background-color: #C224FF;
  margin-top: 10px;
  width: 140px;
  height: 5px;
}

.tabs > ul > li > a {
  text-decoration: none;
  font-size: large;
}

/* --END-- CSS - Tabs.js component */

/* CSS - Buttonbar.js component */
.buttonbar{
  padding: 20px 100px;
  display: flex;
  align-items:baseline;
  justify-content: space-between;
}

.buttonbar-button{
  background-color: #F1F1F1;
  border-radius: 20px;
  width: 200px;
  height: 200px;
}

.buttonbar-button > a{
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.buttonbar-button:hover{
  background-color: #C224FF;
}

/* --END-- CSS - Buttonbar.js component */

/* CSS - QRbody.js component */
.qr-body{
  display: flex;
}

.code{
display: flex;
flex: 1;
flex-direction: column;
  align-items: center;
  margin-right: 300px;
}

.code > span{
  padding: 10px 0px;
  font-size: xx-large;
}

.code > .qr-div >img{
  padding: 20px;
  height: 325px;
  width: 325px;
}


.qr-div{
  background-color: black;
  border-radius: 20px;
}

.icons{
  
display: flex;
flex: 1;
flex-direction: column;
align-items: center;
justify-content: space-between;
padding: 20px 0px;
}

.option , .iblock{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.iblock > img {
  height: 150px;
  width: 150px;
}

.form-body{
  display: flex;
}

.form{
  display: flex;
  flex: 1;
  flex-direction: column;
    margin-right: 300px;
padding: 30px 0px;

  }

.form > input, select{
  height: 30px;
  font-size:medium;
  border: #C224FF solid 0.25px;
  border-radius: 10px;
  background-color: #FBFAFA;
}

.form > label {
  color: #969595;
}

.form > .submitBtn{
  background-color:#0E55DF ;
  color: #F1F1F1;
  font-weight: bolder;
  border: none;
}

.rejectBtn{
  margin-top: 25px;
  font-size: 125%;
}